{% extends "RimedBlogBundle::layout.html.twig" %}

{% block title %}Editando la publicación - {{ post.title }}{% endblock %}

{% block content %}
<form action="{{ path('blog_admin_post_edit', { 'id': post.id }) }}" method="post" {{ form_enctype(form) }}>
    
    {{ form_row(form.enabled) }}
    {{ form_row(form.title) }}
    {{ form_row(form.categories) }}
    
    {{ form_rest(form) }}
    
    {# {{ form_widget(form) }} #}

    <input type="submit" value="Guardar cambios" />
</form>
<a href="{{ path('blog_admin_post_show', { 'id': post.id }) }}">Vista previa</a>
<a href="{{ path('blog_admin_post_index') }}">Volver al listado</a>
{% endblock %}
