{% extends "RimedBlogBundle::layout.html.twig" %}

{% block title %}Listado de publicaciones{% endblock %}

{% block content %}

<a href="{{ path('blog_admin_post_create') }}">Crear nueva publicación</a>
<a href="{{ path('blog_admin_index') }}">Regresar a la administración</a>

<table border="1">
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>Título</th>
            <th>Categorías</th>
            <th>Etiquetas</th>
            <th>Comentarios activos</th>
            <th>Cantidad de comentarios</th>
            <th>Fecha de publicación</th>
        </tr>
    </thead>

    <tbody>
        {% for publicacion in publicaciones %}
            
        <tr>
            <td>{{ loop.index }}<input type="checkbox"></td>
            <td><a href="{{ path('blog_admin_post_edit', {'id': publicacion.id}) }}">{{ publicacion.title }}</a></td>
            <td>{{ publicacion.categories | length }}</td>
            <td>{{ publicacion.tags | length }}</td>
            <td>{{ boolean[publicacion.commentsEnabled] }}</td>
            <td>{{ publicacion.commentsCount }}</td>
            <td>{{ publicacion.publicationDateStart | date('d/m/Y') }}</td>
            

            {#
            <td><a href="{{ path('admin_ponencia_edit', { 'id': ponencia.id }) }}">{{ ponencia.titulo }}</a></td>
            <td>
                <a href="{{ path('admin_ponencia_apuntados', { 'id': ponencia.id }) }}">Ver apuntados</a>
                <a href="{{ path('admin_ponencia_delete', { 'id': ponencia.id }) }}">Borrar</a>
            </td>
            #}
        </tr>
        
        {% else %}
            <br>No existe ninguna publicación!!!<br><br>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
