{% extends "RimedBlogBundle::layout.html.twig" %}

{% block title %}Listado de publicaciones{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>Título</th>
            <th>Categoría</th>
            <th>Etiquetas</th>
            <th>Comentarios activos</th>
            <th>Cantidad de comentarios</th>
        </tr>
    </thead>

    <tbody>
        {% for publicacion in publicaciones %}
        <tr>
            <td><input type="checkbox"></td>
            <td>publicacion.title</td>
            <td></td>
            {#
            <td>{{ ponencia.fecha | date('d/m/Y') }} {{ ponencia.hora | date('H:i') }} </td>
            <td><a href="{{ path('admin_ponencia_edit', { 'id': ponencia.id }) }}">{{ ponencia.titulo }}</a></td>
            <td>{{ idiomas[ponencia.idioma] }}</td>
            <td>{{ ponencia.usuarios | length }}</td>
            <td>
                <a href="{{ path('admin_ponencia_apuntados', { 'id': ponencia.id }) }}">Ver apuntados</a>
                <a href="{{ path('admin_ponencia_delete', { 'id': ponencia.id }) }}">Borrar</a>
            </td>
            #}
        </tr>
        {% else %}
        <tr>
            <td colspan="5">No existe ninguna publicación</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ path('blog_admin_post_create') }}">Crear nueva publicación</a>
<a href="{{ path('blog_admin_index') }}">Regresar a la administración</a>
{% endblock %}
