{% extends "RimedBlogBundle::layout.html.twig" %}

{% block title %}Listado de publicaciones{% endblock %}

{% block content %}

<a href="{{ path('blog_admin_post_create') }}">Crear nueva publicación</a>
<a href="{{ path('blog_admin_index') }}">Regresar a la administración</a>

<table border="1">
    <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>Número</th>
            <th>Título</th>
            <th>Categorías</th>
            <th>Etiquetas</th>
            <th>Comentarios activos</th>
            <th>Cantidad de comentarios</th>
            <th>Fecha de publicación</th>
            <th>X</th>
        </tr>
    </thead>

    <tbody>
        {% for post in posts %}
            <tr>
                <td><input type="checkbox"></td>
                <td align="center">{{ loop.index }}</td>
                <td><a href="{{ path('blog_admin_post_edit', {'id': post.id}) }}">{{ post.title }}</a></td>
                <td>{{ post.categories | length }}</td>
                <td>{{ post.tags | length }}</td>
                <td align="center">{{ boolean[post.commentsEnabled] }}</td>
                <td align="center">{{ post.commentsCount }}</td>
                <td align="center">{{ post.publicationDateStart | date('d/m/Y') }}</td>
                <td><a href="#">X</a></td>
            </tr>
        {% else %}
            <br>No existe ninguna publicación!!!<br><br>
        {% endfor %}
    </tbody>
</table>

<a href="#">Eliminar seleccionadas</a>

{% endblock %}
